@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*{
  font-family: "Hind Siliguri", sans-serif;}
body {
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    background-color: #000F37;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    
  }
  
  .title {
    font-size: 22px;
    font-weight: 800;
  }
  .sub {
    font-size: 14px;
    font-weight: 700;
  }
  .product {
    text-align: center;
    margin: 20px 0;
  }
  
  .product-image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .order-now {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-order {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn-order:hover {
    background-color: #0056b3;
  }
  
  .order-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    text-align: left;
  }
  
  .order-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input, 
  .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-group input:focus, 
  .form-group textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  textarea {
    resize: none;
  }
  
  .btn-submit {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #218838;
  }
  .product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  @media only screen and (max-width: 900px) {
    .product {
      grid-template-columns: 1fr 1fr;
    }
  }